src/main/mule/sgst-orders-edi-papi-inbound-scheduler-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:compression="http://www.mulesoft.org/schema/mule/compression" xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ibm-mq="http://www.mulesoft.org/schema/mule/ibm-mq" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ibm-mq http://www.mulesoft.org/schema/mule/ibm-mq/current/mule-ibm-mq.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.mulesoft.org/schema/mule/compression http://www.mulesoft.org/schema/mule/compression/current/mule-compression.xsd">
	
	
	<flow name="sgst-orders-edi-papi-inbound-PAPVN-TL1-scheduler-impl-flow" doc:id="625f8234-f9a5-457d-b201-6e003bb7a040" >
		<scheduler doc:name="sgst-orders-edi-papi-sap-inbound-papvntl1-scheduler" doc:id="0dccc1d2-6fa6-413e-85fa-0043ddd3ebb6" >
			<scheduling-strategy >
				<cron expression="0 0 0/1 ? * * *" />
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Set TransactionId" doc:id="753ac0df-e8f5-4383-ae55-589ef58e3a2e" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="TransactionID" ><![CDATA[%dw 2.0
output application/java
---
uuid()]]></ee:set-variable>
				<ee:set-variable variableName="vSubsidiary" ><![CDATA[%dw 2.0
output application/java
---
"PAPVN-TL1"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<json-logger:logger doc:name="Log - Start Event" doc:id="4cde1b09-491d-4cbc-8e88-be75ab997456" config-ref="JSON_Logger_Config" message="API:INIT Scheduler Started for PAPVN-TL1">
			<json-logger:content ><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "Scheduler",
   "target": "SAPI",
   "fileName":  "" ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": "PAPVN-TL1",
   "apiName": "sgst-orders-edi-papi",
   "action": "Scheduler START",
   "status": "INIT"
}]]]></json-logger:content>
		</json-logger:logger>
		<os:retrieve-all-keys doc:name="Retrieve all keys" doc:id="3a378476-02a2-488d-8e1c-d370977e80dc" objectStore="ObjStore_Inbound_GITP_PAPVNTL1"/>
		<ee:transform doc:name="Save Files" doc:id="fa2f1824-4731-4268-b0fc-3b0684ff21a3" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="vAllFiles" ><![CDATA[%dw 2.0
output application/json

---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
<ee:transform doc:name="File Types" doc:id="5c154c21-2281-476e-b8bc-c1133d0e6c80" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="vFileTypes" ><![CDATA[%dw 2.0
output application/json
---
((payload map ($ splitBy  "_")) map ($[1] ++ "_" ++ $[2]++"_" ++ $[3])) distinctBy $ default []]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="3cdac4df-af8b-4225-97ea-b732918480d7" collection="#[vars.vFileTypes]">
			<flow-ref doc:name="Identify Files Flow" doc:id="0da8a4cd-d376-4203-9296-a52922c874e3" name="sgst-orders-edi-papi-inbound-common-filter-files-impl-sub-fow"/>
			<ee:transform doc:name="Set Processing Flag" doc:id="05970048-07fc-4a39-a6fb-bcf1a10e2c9f" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="vProcessingFlag" ><![CDATA[%dw 2.0
output application/java
---
(sizeOf(payload) == (payload[0] splitBy "_")[5] as Number) default false]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<choice doc:name="Choice" doc:id="b6074a4f-1a0a-4752-afb9-a65af3b0c3a6" >
				<when expression="#[vars.vProcessingFlag]">
					<flow-ref doc:name="sgst-orders-edi-papi-inbound-common-flow" doc:id="452137cf-1349-4ea1-aba7-46ea1460fa6d" name="sgst-orders-edi-papi-inbound-PAPVN-TL1-send-file-flow" />
				</when>
				<otherwise >
					<foreach doc:name="For Each" doc:id="8f7e958c-5ab5-4bbf-89f1-f7d79028be13" >
						<ee:transform doc:name="Calculate Date Difference" doc:id="d414e31b-3472-4afe-a999-27db8c470d01">
						<ee:message>
						</ee:message>
						<ee:variables>
							<ee:set-variable variableName="vCurrentFileDateDifference"><![CDATA[%dw 2.0
output application/java
var currentDate = now() as Date {format : "dd-MM-yyyy"}
var fileDate = ((payload splitBy "_")[-1]) as Date {format: 'ddMMyyyyHHmm'} as String {format: 'dd-MM-yyyy'} as Date {format: 'dd-MM-yyyy'}
---
daysBetween(fileDate,currentDate)]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
						<choice doc:name="Choice" doc:id="5f44d556-b026-475d-ac66-6c045a7ccaeb">
						<when expression="#[vars.vCurrentFileDateDifference &gt; 1]">
							<os:remove doc:name="Remove Old File" doc:id="51142c80-65cf-417d-a025-49b049142094" key="#[payload]" objectStore="ObjStore_Inbound_GITP_PAPVNTL1" />
						</when>
							<otherwise >
								<json-logger:logger doc:name="Log - File Status" doc:id="c4dcd38f-d3da-4f64-acd0-52d8044b73ee" config-ref="JSON_Logger_Config" message="Valid files not found">
									<json-logger:content ><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "Scheduler",
   "target": "SAPI",
   "fileName":  "" ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": "PAPVN-TL1",
   "apiName": "sgst-orders-edi-papi",
   "action": "INPROGRESS",
   "status": ""
}]]]></json-logger:content>
								</json-logger:logger>
							</otherwise>
					</choice>
					</foreach>
				</otherwise>
			</choice>
		</foreach>
		<ee:transform doc:name="Set Response" doc:id="d5cc8092-0782-47f6-b84f-31ce74b8c77d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  statusCode: 200,
  statusMessage: "Processing of File is completed",
  correlationID: vars.TransactionID
}	]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<json-logger:logger doc:name="Log - End Event" doc:id="d752bd70-c369-4385-ab15-e6ac5c644b44" config-ref="JSON_Logger_Config" message="API :END - Completed API request." tracePoint="END">
			<json-logger:content ><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "Scheduler",
   "target": "SAPI",
   "fileName":  "" ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": "PAPVN-TL1",
   "apiName": "sgst-orders-edi-papi",
   "action": "Scheduler END",
   "status": "END"
}]]]></json-logger:content>
		</json-logger:logger>
	</flow>
	<flow name="sgst-orders-edi-papi-inbound-PAPVN-TL1-send-file-flow" doc:id="450bfb66-bf99-4284-a2d1-77cc1f2c9a22" >
		<ee:transform doc:name="Set File Name" doc:id="cfb9ea4e-4223-417d-915f-4f5d0343be0c">
				<ee:message>
				</ee:message>
			<ee:variables>
				<ee:set-variable variableName="vOutputFileName"><![CDATA[%dw 2.0
output application/java
---
"Z11_" ++ vars.vExternalSystem ++"_"++ vars.vDataInterface ++ now() as String {format: "ddMMyyyyHHmm"} ++ ".txt"]]></ee:set-variable>
				<ee:set-variable variableName="vDeleteSplitFiles" ><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-variable>
			</ee:variables>
			
</ee:transform>
		<foreach doc:name="For Each" doc:id="abacf372-9011-4698-9580-fb18e63cf87f">
			<ee:transform doc:name="Delete Files" doc:id="47a75d6a-4d4d-41ed-9a81-5160f99e8a78">
				<ee:message>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="vDeleteSplitFiles"><![CDATA[%dw 2.0
output application/java
---
vars.vDeleteSplitFiles default [] ++ [payload]]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<os:retrieve doc:name="Get File from OS" doc:id="9e3cb052-7bae-412a-91b9-0b62b9304f11" key="#[payload]" objectStore="ObjStore_Inbound_GITP_PAPVNTL1" />
			<json-logger:logger doc:name="Log - Initiate File Publish" doc:id="c8273733-2fb4-440e-b32f-ca43c095d1ee" config-ref="JSON_Logger_Config" message="Initiate CALL to SFTP to store the File ">
						<json-logger:content><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "Scheduler",
   "target": vars.vExternalSystem default "",
   "fileName":  vars.vOutputFileName ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": "PAPVN-TL1",
   "apiName": "sgst-orders-edi-papi",
   "action": "CALL SFTP",
   "status": "START"
}]]]></json-logger:content>
					</json-logger:logger>
			<sftp:write doc:name="Write Output File" doc:id="6bf197c0-c211-40cf-9079-d12bf8f45516" config-ref="SFTP_Config_Common_Storage" path='#[p("sftp.common.path.papvntl1") ++ vars.vOutputFileName]' mode="APPEND">
			</sftp:write>
			<json-logger:logger doc:name="Log - File Publish Status" doc:id="1c309464-aa0d-4b78-be87-70929c8cb676" config-ref="JSON_Logger_Config" message="File Processed to SFTP successfully">
						<json-logger:content><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "Scheduler",
   "target": vars.vExternalSystem default "",
   "fileName":  vars.vOutputFileName ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": "PAPVN-TL1",
   "apiName": "sgst-orders-edi-papi",
   "action": "CALL SFTP",
   "status": "SUCCESS"
}]]]></json-logger:content>
					</json-logger:logger>
		</foreach>
		<ee:transform doc:name="Set Resource Path" doc:id="d442d947-d6ad-440f-9694-e792b1b7dadd">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="resourcePath"><![CDATA[%dw 2.0
output application/java
---
if ( vars.vExternalSystem == "EPRO" and vars.vDataInterface == "POResponse" ) "/po-response"
else 
	if ( vars.vExternalSystem == "EPRO" and vars.vDataInterface == "EDIResults" ) "/edi-results"
else
	if ( vars.vExternalSystem == "SalesEDI" ) "/sales-orders"
else
	if ( vars.vExternalSystem == "CMS" ) "/ar-statements"
else
	"InvalidExternalSystem"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Call SAP Flow" doc:id="6ddaef86-44ec-42fc-9abb-10cab3e47097" name="sgst-orders-edi-papi-inbound-common-sap-impl-sub-flow"/>
		<foreach doc:name="For Each" doc:id="67a53ed8-799a-46be-9c09-02751fe9432d" collection="#[vars.vDeleteSplitFiles]">
								<os:remove doc:name="Remove Split File from ObjectStore" doc:id="dfda311e-55e0-407f-b339-1e49b07d9870" key="#[payload]" objectStore="ObjStore_Inbound_GITP_PAPVNTL1" />
							</foreach>
	</flow>
	
	
	<flow name="sgst-orders-edi-papi-inbound-PAPVN-TL2-scheduler-impl-flow" doc:id="5736cd81-6dde-42cf-8999-ed93e10e14bb" >
		<scheduler doc:name="sgst-orders-edi-papi-sap-inbound-papvntl2-scheduler" doc:id="df6b7609-d341-4a8f-a162-7786e809b3d9" >
			<scheduling-strategy >
				<cron expression="0 0 0/1 ? * * *" />
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Set TransactionId" doc:id="063573d1-b4c3-47a3-a10f-a191865a9086" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="TransactionID" ><![CDATA[%dw 2.0
output application/java
---
uuid()]]></ee:set-variable>
				<ee:set-variable variableName="vSubsidiary" ><![CDATA[%dw 2.0
output application/java
---
"PAPVN-TL2"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<json-logger:logger doc:name="Log - Start Event" doc:id="d698a8e4-b055-48d0-b89c-171d9bd0d1da" config-ref="JSON_Logger_Config" message="API:INIT Scheduler Started for PAPVN-TL2">
			<json-logger:content ><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "Scheduler",
   "target": "SAPI",
   "fileName":  "" ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": "PAPVN-TL2",
   "apiName": "sgst-orders-edi-papi",
   "action": "Scheduler START",
   "status": "INIT"
}]]]></json-logger:content>
		</json-logger:logger>
		<os:retrieve-all-keys doc:name="Retrieve all keys" doc:id="e4701169-4525-4f18-b39c-af82691e1c01" objectStore="ObjStore_Inbound_GITP_PAPVNTL2"/>
		<ee:transform doc:name="Save Files" doc:id="7a607250-71ea-40f5-9a76-58cc7fa88731" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="vAllFiles" ><![CDATA[%dw 2.0
output application/json

---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
<ee:transform doc:name="File Types" doc:id="e7b8cdcf-29f9-48fb-87e1-665538e37670" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="vFileTypes" ><![CDATA[%dw 2.0
output application/json
---
((payload map ($ splitBy  "_")) map ($[1] ++ "_" ++ $[2]++"_" ++ $[3])) distinctBy $ default []]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="52ab57ba-96c4-4e0d-aad9-44ce8434406c" collection="#[vars.vFileTypes]">
			
			<flow-ref doc:name="Identify Files" doc:id="5ea51087-8208-45f6-b496-3933d7ed1de7" name="sgst-orders-edi-papi-inbound-common-filter-files-impl-sub-fow"/>
			<ee:transform doc:name="Set Processing Flag" doc:id="cf8a54bc-060b-44f4-9aed-9ae02daf5755" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="vProcessingFlag" ><![CDATA[%dw 2.0
output application/java
---
(sizeOf(payload) == (payload[0] splitBy "_")[5] as Number) default false]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<choice doc:name="Choice" doc:id="137ccdd8-76b0-4a5e-a11d-182ec626d2e0" >
				<when expression="#[vars.vProcessingFlag]">
					<flow-ref doc:name="sgst-orders-edi-papi-inbound-common-flow" doc:id="e22c5b3e-a9d3-4a48-9b10-a28098052333" name="sgst-orders-edi-papi-inbound-PAPVN-TL2-send-file-flow" />
				</when>
				<otherwise >
					<foreach doc:name="For Each" doc:id="a14a43de-abdd-4c9a-b92c-f85db06ee3a8" >
						<ee:transform doc:name="Calculate Date" doc:id="530d0ac8-f5d7-4b71-934d-481add4096f8">
						<ee:message>
						</ee:message>
						<ee:variables>
							<ee:set-variable variableName="vCurrentFileDateDifference"><![CDATA[%dw 2.0
output application/java
var currentDate = now() as Date {format : "dd-MM-yyyy"}
var fileDate = ((payload splitBy "_")[-1]) as Date {format: 'ddMMyyyyHHmm'} as String {format: 'dd-MM-yyyy'} as Date {format: 'dd-MM-yyyy'}
---
daysBetween(fileDate,currentDate)]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
						<choice doc:name="Choice" doc:id="14b3d194-e319-471e-88bf-1df90fc74374" >
							<when expression="#[vars.vCurrentFileDateDifference &gt; 1]">
								<os:remove doc:name="Remove Old File" doc:id="121afcbd-ff7f-4490-af4a-fc15721da26c" key="#[payload]" objectStore="ObjStore_Inbound_GITP_PAPVNTL2"/>
							</when>
							<otherwise >
								<json-logger:logger doc:name="Log File Status" doc:id="b592f4d8-21cd-4bb2-85cc-3a7815c794f7" config-ref="JSON_Logger_Config" message="Valid files not found">
									<json-logger:content ><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "Scheduler",
   "target": "SAPI",
   "fileName":  "" ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": "PAPVNTL-2",
   "apiName": "sgst-orders-edi-papi",
   "action": "INPROGRESS",
   "status": "END"
}]]]></json-logger:content>
								</json-logger:logger>
							</otherwise>
						</choice>
					</foreach>
				
</otherwise>
			</choice>
		</foreach>
		<ee:transform doc:name="Set Response" doc:id="6c205f4f-8482-4c0b-b587-25f955ab6ea0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  statusCode: 200,
  statusMessage: "Processing of File is completed",
  correlationID: vars.TransactionID
}	]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<json-logger:logger doc:name="Log - End Event" doc:id="34ff0787-964b-4657-aa67-37434be7de63" config-ref="JSON_Logger_Config" message="API START: END - Completed API request." tracePoint="END">
			<json-logger:content ><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "Scheduler",
   "target": "SAPI",
   "fileName":  "" ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": "PAPVNTL-1",
   "apiName": "sgst-orders-edi-papi",
   "action": "Scheduler END",
   "status": "END"
}]]]></json-logger:content>
		</json-logger:logger>
	</flow>
	<flow name="sgst-orders-edi-papi-inbound-PAPVN-TL2-send-file-flow" doc:id="2d292463-dfb9-49f1-9760-5fc01bbccc45" >
		<ee:transform doc:name="Set File Name" doc:id="a2806bed-da7f-4683-8a0d-28beef19c023">
				<ee:message>
				</ee:message>
			<ee:variables>
				<ee:set-variable variableName="vOutputFileName"><![CDATA[%dw 2.0
output application/java
---
"Z12_" ++ vars.vExternalSystem ++"_"++ vars.vDataInterface ++ now() as String {format: "ddMMyyyyHHmm"} ++ ".txt"]]></ee:set-variable>
				<ee:set-variable variableName="vDeleteSplitFiles" ><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-variable>
			</ee:variables>
			
</ee:transform>
		<foreach doc:name="For Each" doc:id="b40fb742-3e67-4ca2-91e4-1b0c6093e89c">
			<ee:transform doc:name="Delete Files" doc:id="25ed645b-47cc-41e4-9d79-a42108a36e0d">
				<ee:message>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="vDeleteSplitFiles"><![CDATA[%dw 2.0
output application/java
---
vars.vDeleteSplitFiles default [] ++ [payload]]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<os:retrieve doc:name="Get File from OS" doc:id="38f7afd5-e71b-4a91-87ec-08418a6a1274" key="#[payload]" objectStore="ObjStore_Inbound_GITP_PAPVNTL2" />
			<json-logger:logger doc:name="Log - Initiate File Publish" doc:id="e523cdad-688b-4544-80d5-1bc996f8a26a" config-ref="JSON_Logger_Config" message="Initiate CALL to SFTP to store the File ">
						<json-logger:content><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "Scheduler",
   "target": vars.vExternalSystem default "",
   "fileName":  vars.vOutputFileName ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": "PAPVNTL-2",
   "apiName": "sgst-orders-edi-papi",
   "action": "CALL SFTP",
   "status": "START"
}]]]></json-logger:content>
					</json-logger:logger>
			<sftp:write doc:name="Write Output File" doc:id="39774b22-7a1c-46c6-b951-279ec4da6c1d" config-ref="SFTP_Config_Common_Storage" path='#[p("sftp.common.path.papvntl2") ++ vars.vOutputFileName]' mode="APPEND">
			</sftp:write>
			<json-logger:logger doc:name="Log - File Publish Status" doc:id="1412f96b-da3e-4749-ad18-ddde16345b40" config-ref="JSON_Logger_Config" message="File Processed to SFTP successfully">
						<json-logger:content><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "Scheduler",
   "target": vars.vExternalSystem default "",
   "fileName":  vars.vOutputFileName ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": "PAPVNTL-2",
   "apiName": "sgst-orders-edi-papi",
   "action": "CALL SFTP",
   "status": "SUCCESS"
}]]]></json-logger:content>
					</json-logger:logger>
		</foreach>
		<ee:transform doc:name="Set Resource Path" doc:id="3a2cfcfb-1bed-44a0-876b-5df057f1f63b">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="resourcePath"><![CDATA[%dw 2.0
output application/java
---
if ( vars.vExternalSystem == "EPRO" and vars.vDataInterface == "POResponse" ) "/po-response"
else 
	if ( vars.vExternalSystem == "EPRO" and vars.vDataInterface == "EDIResults" ) "/edi-results"
else
	if ( vars.vExternalSystem == "SalesEDI" ) "/sales-orders"
else
	"InvalidExternalSystem"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Call SAP Flow" doc:id="ebeb98fd-1fa8-456f-aadd-851568500334" name="sgst-orders-edi-papi-inbound-common-sap-impl-sub-flow"/>
		<foreach doc:name="For Each" doc:id="f2140455-5735-4c9f-87f2-b91e7ed7fb91" collection="#[vars.vDeleteSplitFiles]">
			<os:remove doc:name="Remove Split File from ObjectStore" doc:id="94fdcf32-9f27-4554-88e7-0b71d8a63c88" key="#[payload]" objectStore="ObjStore_Inbound_GITP_PAPVNTL2" />
		</foreach>
	</flow>
	
	<flow name="sgst-orders-edi-papi-inbound-PMPC-scheduler-impl-flow" doc:id="e6dd2006-48ca-458f-a142-49ff95517538" >
		<scheduler doc:name="sgst-orders-edi-papi-sap-inbound-pmpc-scheduler" doc:id="3139f025-9e8c-46ab-8047-d96b96b7bcd6" >
			<scheduling-strategy >
				<cron expression="0 0 0/1 ? * * *" />
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Set TransactionId" doc:id="46d46196-a354-4ec9-a682-f311afa2da97" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="TransactionID" ><![CDATA[%dw 2.0
output application/java
---
uuid()]]></ee:set-variable>
				<ee:set-variable variableName="vSubsidiary" ><![CDATA[%dw 2.0
output application/java
---
"PMPC"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<json-logger:logger doc:name="Log - Start Event" doc:id="c338993d-6af8-471a-bcc6-c5a933450de3" config-ref="JSON_Logger_Config" message="API:INIT Scheduler Started for PMPC">
			<json-logger:content ><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "Scheduler",
   "target": "SAPI",
   "fileName":  "" ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": "PMPC",
   "apiName": "sgst-orders-edi-papi",
   "action": "Scheduler START",
   "status": "INIT"
}]]]></json-logger:content>
		</json-logger:logger>
		<os:retrieve-all-keys doc:name="Retrieve all keys" doc:id="cb70f46c-0155-4305-a530-6de12ea1b2fd" objectStore="ObjStore_Inbound_GITP_PMPC"/>
		<ee:transform doc:name="Save Files" doc:id="68addc6b-b5d1-4814-b28b-cca98f9e44e9" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="vAllFiles" ><![CDATA[%dw 2.0
output application/json

---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
<ee:transform doc:name="File Types" doc:id="02e99703-6a12-4816-bf9e-71f35e7c9570" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="vFileTypes" ><![CDATA[%dw 2.0
output application/json
---
((payload map ($ splitBy  "_")) map ($[1] ++ "_" ++ $[2]++"_" ++ $[3])) distinctBy $ default []]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="d386573f-251d-4b33-9152-ed922716a3a7" collection="#[vars.vFileTypes]">
			<flow-ref doc:name="Identify Files" doc:id="2568b64e-8151-4ce2-ac93-97bb0e06fcbd" name="sgst-orders-edi-papi-inbound-common-filter-files-impl-sub-fow"/>
			<ee:transform doc:name="Set Processing Flag" doc:id="02cbdbdf-869a-4395-a46a-fc239772fb28" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="vProcessingFlag" ><![CDATA[%dw 2.0
output application/java
---
(sizeOf(payload) == (payload[0] splitBy "_")[5] as Number) default false]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<choice doc:name="Choice" doc:id="a48716fa-334b-4f94-bb2d-b562ac2de616" >
				<when expression="#[vars.vProcessingFlag]">
					<flow-ref doc:name="sgst-orders-edi-papi-inbound-common-flow" doc:id="7c0f1457-0eb7-46ed-89fc-82c55ee82fdc" name="sgst-orders-edi-papi-inbound-PMPC-send-file-flow" />
				</when>
				<otherwise >
					<json-logger:logger doc:name="Files Status" doc:id="31528f70-3e3f-4a2b-bdb5-bd8c94d6383c" config-ref="JSON_Logger_Config" message="No Valid files to Process">
						<json-logger:content ><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "Scheduler",
   "target": "SAPI",
   "fileName":  "" ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": "PMPC",
   "apiName": "sgst-orders-edi-papi",
   "action": "Scheduler END",
   "status": "END"
}]]]></json-logger:content>
					</json-logger:logger>
					<foreach doc:name="For Each" doc:id="a7652488-90bc-4bf6-a90b-b8787cfd454a" >
						<ee:transform doc:name="Calculate Date Difference" doc:id="7d22584b-8199-46c0-9738-90669a888264">
						<ee:message>
						</ee:message>
							<ee:variables >
								<ee:set-variable variableName="vCurrentFileDateDifference" ><![CDATA[%dw 2.0
output application/java
var currentDate = now() as Date {format : "dd-MM-yyyy"}
var fileDate = ((payload splitBy "_")[-1]) as Date {format: 'ddMMyyyyHHmm'} as String {format: 'dd-MM-yyyy'} as Date {format: 'dd-MM-yyyy'}
---
daysBetween(fileDate,currentDate)]]></ee:set-variable>
							</ee:variables>
					</ee:transform>
						<choice doc:name="Choice" doc:id="e20943fa-edf5-43f1-b839-ff3ee599236e">
						<when expression="#[vars.vCurrentFileDateDifference &gt; 1]">
							<os:remove doc:name="Remove Old File" doc:id="f00dd761-d6fe-4cba-a98c-0ee03e422051" key="#[payload]" objectStore="ObjStore_Inbound_GITP_PMPC"/>
						</when>
							<otherwise >
								<json-logger:logger doc:name="Log File Status" doc:id="fb3c9d47-d947-4b9d-989c-b2172c729c65" config-ref="JSON_Logger_Config" message="Valid files not found">
									<json-logger:content ><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "Scheduler",
   "target": "SAPI",
   "fileName":  "" ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": "PMPC",
   "apiName": "sgst-orders-edi-papi",
   "action": "INPROGRESS",
   "status": ""
}]]]></json-logger:content>
								</json-logger:logger>
							</otherwise>
					</choice>
					</foreach>
				
</otherwise>
			</choice>
		</foreach>
		<ee:transform doc:name="Set Response" doc:id="19885dc5-f3fc-44b3-91a5-0695c6f4d755" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  statusCode: 200,
  statusMessage: "Processing of File is completed",
  correlationID: vars.TransactionID
}	]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<json-logger:logger doc:name="Log - End Event" doc:id="c10dfcd4-177d-43e2-8c4e-1dd7b5788655" config-ref="JSON_Logger_Config" message="API START: END - Completed API request." tracePoint="END">
			<json-logger:content ><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "Scheduler",
   "target": "SAPI",
   "fileName":  "" ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": "PAPVNTL-1",
   "apiName": "sgst-orders-edi-papi",
   "action": "Scheduler END",
   "status": "END"
}]]]></json-logger:content>
		</json-logger:logger>
	</flow>
	<flow name="sgst-orders-edi-papi-inbound-PMPC-send-file-flow" doc:id="9852327e-47cf-45ea-b066-18f0d631b7af" >
		<ee:transform doc:name="Set File Name" doc:id="09d48f2d-d00b-46b0-8e6e-2c6ea74f0b1a">
				<ee:message>
				</ee:message>
			<ee:variables>
				<ee:set-variable variableName="vOutputFileName"><![CDATA[%dw 2.0
output application/java
---
"PMPC" ++ vars.vExternalSystem ++"_"++ vars.vDataInterface ++ now() as String {format: "ddMMyyyyHHmm"} ++ ".txt"]]></ee:set-variable>
				<ee:set-variable variableName="vDeleteSplitFiles" ><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-variable>
			</ee:variables>
			
</ee:transform>
		<foreach doc:name="For Each" doc:id="5049770e-72c0-448f-aee2-b0ee19a768b0">
			<ee:transform doc:name="Delete Files" doc:id="17e1e8f8-36bc-401e-b28d-eaa6dbb7f56d">
				<ee:message>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="vDeleteSplitFiles"><![CDATA[%dw 2.0
output application/java
---
vars.vDeleteSplitFiles default [] ++ [payload]]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<os:retrieve doc:name="Get File from OS" doc:id="53877f55-d063-46e9-a2bb-09ecd8689399" key="#[payload]" objectStore="ObjStore_Inbound_GITP_PMPC" />
			<json-logger:logger doc:name="Log - Initiate File Publish" doc:id="b32f3a48-13b7-45f8-b012-629fa22c764e" config-ref="JSON_Logger_Config" message="Initiate CALL to SFTP to store the File ">
						<json-logger:content><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "Scheduler",
   "target": vars.vExternalSystem default "",
   "fileName":  vars.vOutputFileName ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": "PMPC",
   "apiName": "sgst-orders-edi-papi",
   "action": "CALL SFTP",
   "status": "START"
}]]]></json-logger:content>
					</json-logger:logger>
			<sftp:write doc:name="Write Output File" doc:id="3b3fb267-4159-41a7-9076-5d056ab966f8" config-ref="SFTP_Config_Common_Storage" path='#[p("sftp.common.path.pmpc") ++ vars.vOutputFileName]' mode="APPEND">
			</sftp:write>
			<json-logger:logger doc:name="Log - File Publish Status" doc:id="036db6b4-18f8-4994-8df8-d956cb583f4a" config-ref="JSON_Logger_Config" message="File Processed to SFTP successfully">
						<json-logger:content><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "Scheduler",
   "target": vars.vExternalSystem default "",
   "fileName":  vars.vOutputFileName ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": "PMPC",
   "apiName": "sgst-orders-edi-papi",
   "action": "CALL SFTP",
   "status": "SUCCESS"
}]]]></json-logger:content>
					</json-logger:logger>
		</foreach>
		<ee:transform doc:name="Set Resource Path" doc:id="5512d313-4b3b-4d9a-8b71-a75dcba697d8">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="resourcePath"><![CDATA[%dw 2.0
output application/java
---
if ( vars.vExternalSystem == "EPRO" and vars.vDataInterface == "POResponse" ) "/po-response"
else 
	if ( vars.vExternalSystem == "EPRO" and vars.vDataInterface == "EDIResults" ) "/edi-results"
else
	if ( vars.vExternalSystem == "SalesEDI" ) "/sales-orders"
else
	if ( vars.vExternalSystem == "CMS" ) "/ar-statements"
else
	"InvalidExternalSystem"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Call SAP Flow" doc:id="cee28e05-9b73-406b-9ca4-fe5b258445b4" name="sgst-orders-edi-papi-inbound-common-sap-impl-sub-flow"/>
		<foreach doc:name="For Each" doc:id="10f4b337-840b-4513-85a1-b4709d6292ed" collection="vars.vDeleteSplitFiles">
			<os:remove doc:name="Remove Split Files from OS" doc:id="6832cdf3-d10d-468b-9122-eea210c09f76" key="#[payload]" objectStore="ObjStore_Inbound_GITP_PMPC"/>
		</foreach>
	</flow>
	<sub-flow name="sgst-orders-edi-papi-inbound-common-filter-files-impl-sub-fow" doc:id="c1a5f080-3a64-4c31-9ed0-125041c9b79e">
	<ee:transform doc:name="Set External System" doc:id="dbecf6f3-43fc-4df2-baea-93161d260741" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="vExternalSystem" ><![CDATA[%dw 2.0
output application/java
---
(payload splitBy "_")[0]]]></ee:set-variable>
				
</ee:variables>
			</ee:transform>
			<ee:transform doc:name="Filter Files" doc:id="f7518873-e41f-451d-b743-2ca168a56ede">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
(vars.vAllFiles filter ($ contains payload))]]></ee:set-payload>
			</ee:message>
		</ee:transform>
<ee:transform doc:name="Set Data Interface" doc:id="cefc10bd-699b-4a8e-bd44-7388db80766d" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="vDataInterface" ><![CDATA[%dw 2.0
output application/java
---
(payload[0] splitBy "_")[2]]]></ee:set-variable>
				</ee:variables>
			
</ee:transform>
			<ee:transform doc:name="Set Files In Sequence" doc:id="a43d6c76-d4a3-4426-8800-85f58b233409" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload orderBy $]]></ee:set-payload>
				</ee:message>
			</ee:transform>
	</sub-flow>
</mule>
