src/main/mule/sgst-orders-edi-papi-inbound-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:compression="http://www.mulesoft.org/schema/mule/compression" xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ibm-mq="http://www.mulesoft.org/schema/mule/ibm-mq" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ibm-mq http://www.mulesoft.org/schema/mule/ibm-mq/current/mule-ibm-mq.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.mulesoft.org/schema/mule/compression http://www.mulesoft.org/schema/mule/compression/current/mule-compression.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="b56dcfeb-c773-4cc2-8cd4-dbabb643387b" />
	<flow name="sgst-orders-edi-papi-inbound-PAPVN-TL1-mq-consumer-impl-flow" doc:id="a0f71ccd-0501-4f51-975c-0984ec7efc50" >
		<scheduler doc:name="Scheduler" doc:id="618d3997-9035-42ec-9e85-fca90cd8cc39" >
			<scheduling-strategy >
				<fixed-frequency startDelay="2" timeUnit="HOURS" frequency="10"/>
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Set TransactionId" doc:id="cd9dcbc5-81ed-4844-b7c3-29dc250a4ee8">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="TransactionID"><![CDATA[%dw 2.0
output application/java
---
uuid()]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<json-logger:logger doc:name="Log - Start Event" doc:id="b1684b6f-887e-4c9f-911e-9a47e6155b48" config-ref="JSON_Logger_Config" message="API START: INIT - Received Message.">
			<json-logger:content ><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "IBM MQ CONSUMER",
   "target": "",
   "fileName":  "" ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": "PAPVN-TL1",
   "apiName": "sgst-orders-edi-papi",
   "action": "CONSUMER START",
   "status": "INIT"
}]]]></json-logger:content>
		</json-logger:logger>
		<flow-ref doc:name="Prepare File Name Info" doc:id="ef33a29c-8aec-438a-83a9-cd0693283d99" name="sgst-orders-edi-papi-inbound-common-mq-consumer-impl-flow"/>
		<ee:transform doc:name="Prepare FileName" doc:id="08848ad4-b99c-45ee-a068-14d530d7396a" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="vFileName" ><![CDATA[%dw 2.0
output application/java
---
"Z11_" ++ vars.vDataInterface ++"_"++ vars.vTransHeaderInfo.MessageSequence ++"_"++ vars.vTransHeaderInfo.TotalMessageSplits ++ "_" ++ now() as String {format: "ddMMyyyyHHmm"}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<json-logger:logger doc:name="Log - Initiate OS" doc:id="b78bae37-24ce-45f7-9bac-d310bad57440" config-ref="JSON_Logger_Config" message="Initiate Objectstore to store the File">
			<json-logger:content ><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "IBM MQ CONSUMER",
   "target": "",
   "fileName":  "" ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": "PAPVN-TL1",
   "apiName": "sgst-orders-edi-papi",
   "action": "CALL ObjectStoreV2",
   "status": "INIT"
}]]]></json-logger:content>
		</json-logger:logger>
		<os:store doc:name="Store Split File" doc:id="ea46dc9f-eacf-4ea0-bcae-a9be4d171b28" key="#[vars.vFileName]" objectStore="Object_Store_PAPVNTL1"/>
		<json-logger:logger doc:name="Log - OS Status" doc:id="14bad7a4-649b-4c3d-9bbb-9faa5de852b8" config-ref="JSON_Logger_Config" message="File Processed to Objectstore successfully" tracePoint="END">
			<json-logger:content ><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "IBM MQ CONSUMER",
   "target": "",
   "fileName":  "" ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": "PAPVN-TL1",
   "apiName": "sgst-orders-edi-papi",
   "action": "CALL ObjectStoreV2",
   "status": "SUCCESS"
}]]]></json-logger:content>
		</json-logger:logger>
	</flow>
	<sub-flow name="sgst-orders-edi-papi-inbound-common-mq-consumer-impl-flow" doc:id="dd068fe6-0aeb-4da2-9202-e33cd1bb7097" >
	<ee:transform doc:name="Temp Remove" doc:id="7c394cc5-fe70-41c4-aebc-5af3960056b7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
readUrl("classpath://VN12_SAP_GITP R2_20230112191935","application/csv",{header:false})]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<!-- [STUDIO:"Save Request"]		<ee:transform doc:name="Save Request" doc:id="86043570-81f6-4a9c-8a9e-9fc7721bc2f0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
readUrl(payload,"application/csv",{header:false})]]></ee:set-payload>
			</ee:message>
		</ee:transform> [STUDIO] -->
		<ee:transform doc:name="Get TransHeader" doc:id="e05f9d57-969e-43ee-a351-2e1b1a28e839">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="vTransHeader"><![CDATA[%dw 2.0
output application/json
---
payload[0].column_0[0 to 155]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Set Content" doc:id="b2617fa0-b3d5-4e20-80fc-5708351c55cc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output text/plain
---
write((payload[0].column_0[156 to -1]), "application/java")]]></ee:set-payload>

			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Set Transaction Header" doc:id="3acbc8a1-1e0d-484e-9587-12eb07aee935" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="vTransHeaderInfo" ><![CDATA[%dw 2.0
output application/json
---
{
    ApplicationIdCode: vars.vTransHeader[24 to 25],
    DataTypeCode: trim(vars.vTransHeader[26 to 37]),
    MessageSequence: vars.vTransHeader[101 to 102],
    TotalMessageSplits: vars.vTransHeader[98 to 100]
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Identify Type" doc:id="0f623330-bec9-44a0-8820-2bd020117304" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dwl/setInboundDataInterface.dwl" variableName="vDataInterface" />
			</ee:variables>
		</ee:transform>
	</sub-flow>
	
	<sub-flow name="sgst-orders-edi-papi-inbound-common-filter-files-impl-sub-fow" doc:id="7be9ff14-bb20-4f98-a763-e20db3728f73">
	<ee:transform doc:name="Set External System" doc:id="07e4955f-a652-4ebd-8821-a13f8eed60d5" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="vExternalSystem" ><![CDATA[%dw 2.0
output application/java
---
(payload splitBy "_")[0]]]></ee:set-variable>
				
</ee:variables>
			</ee:transform>
			<ee:transform doc:name="Filter Files" doc:id="7be204db-6e47-4850-8448-31cf3c2d9ac0">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
(vars.vAllFiles filter ($ contains payload))]]></ee:set-payload>
			</ee:message>
		</ee:transform>
<ee:transform doc:name="Set Data Interface" doc:id="05f04966-1576-4434-bd25-b6be1c59a86e" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="vDataInterface" ><![CDATA[%dw 2.0
output application/java
---
(payload[0] splitBy "_")[2]]]></ee:set-variable>
				</ee:variables>
			
</ee:transform>
			<ee:transform doc:name="Set Files In Sequence" doc:id="cb9d51c4-e8d2-4fde-8884-bae692226dc5" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload orderBy $]]></ee:set-payload>
				</ee:message>
			</ee:transform>
	</sub-flow>
	<flow name="sgst-orders-edi-papi-inbound-PAPVN-TL1-scheduler-impl-flow" doc:id="625f8234-f9a5-457d-b201-6e003bb7a040" >
		<scheduler doc:name="sgst-orders-edi-papi-sap-inbound-papvntl1-scheduler" doc:id="0dccc1d2-6fa6-413e-85fa-0043ddd3ebb6" >
			<scheduling-strategy >
				<cron expression="0 0 0/1 ? * * *" />
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Set TransactionId" doc:id="753ac0df-e8f5-4383-ae55-589ef58e3a2e" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="TransactionID" ><![CDATA[%dw 2.0
output application/java
---
uuid()]]></ee:set-variable>
				<ee:set-variable variableName="vSubsidiary" ><![CDATA[%dw 2.0
output application/java
---
"PAPVN-TL1"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<json-logger:logger doc:name="Log - Start Event" doc:id="4cde1b09-491d-4cbc-8e88-be75ab997456" config-ref="JSON_Logger_Config" message="API:INIT Scheduler Started for PAPVN-TL1">
			<json-logger:content ><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "Scheduler",
   "target": "SAPI",
   "fileName":  "" ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": "PAPVN-TL1",
   "apiName": "sgst-orders-edi-papi",
   "action": "Scheduler START",
   "status": "INIT"
}]]]></json-logger:content>
		</json-logger:logger>
		<os:retrieve-all-keys doc:name="Retrieve all keys" doc:id="3a378476-02a2-488d-8e1c-d370977e80dc" objectStore="Object_Store_PAPVNTL1"/>
		<ee:transform doc:name="Save Files" doc:id="fa2f1824-4731-4268-b0fc-3b0684ff21a3" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="vAllFiles" ><![CDATA[%dw 2.0
output application/json

---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
<ee:transform doc:name="File Types" doc:id="5c154c21-2281-476e-b8bc-c1133d0e6c80" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="vFileTypes" ><![CDATA[%dw 2.0
output application/json
---
((payload map ($ splitBy  "_")) map ($[1] ++ "_" ++ $[2]++"_" ++ $[3])) distinctBy $ default []]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="3cdac4df-af8b-4225-97ea-b732918480d7" collection="#[vars.vFileTypes]">
			<flow-ref doc:name="Identify Files Flow" doc:id="0da8a4cd-d376-4203-9296-a52922c874e3" name="sgst-orders-edi-papi-inbound-common-filter-files-impl-sub-fow"/>
			<ee:transform doc:name="Set Processing Flag" doc:id="05970048-07fc-4a39-a6fb-bcf1a10e2c9f" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="vProcessingFlag" ><![CDATA[%dw 2.0
output application/java
---
(sizeOf(payload) == (payload[0] splitBy "_")[5] as Number) default false]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<choice doc:name="Choice" doc:id="b6074a4f-1a0a-4752-afb9-a65af3b0c3a6" >
				<when expression="#[vars.vProcessingFlag]">
					<flow-ref doc:name="sgst-orders-edi-papi-inbound-common-flow" doc:id="452137cf-1349-4ea1-aba7-46ea1460fa6d" name="sgst-orders-edi-papi-inbound-PAPVN-TL1-send-file-flow" />
				</when>
				<otherwise >
					<foreach doc:name="For Each" doc:id="8f7e958c-5ab5-4bbf-89f1-f7d79028be13" >
						<ee:transform doc:name="Calculate Date Difference" doc:id="d414e31b-3472-4afe-a999-27db8c470d01">
						<ee:message>
						</ee:message>
						<ee:variables>
							<ee:set-variable variableName="vCurrentFileDateDifference"><![CDATA[%dw 2.0
output application/java
var currentDate = now() as Date {format : "dd-MM-yyyy"}
var fileDate = ((payload splitBy "_")[-1]) as Date {format: 'ddMMyyyyHHmm'} as String {format: 'dd-MM-yyyy'} as Date {format: 'dd-MM-yyyy'}
---
daysBetween(fileDate,currentDate)]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
						<choice doc:name="Choice" doc:id="5f44d556-b026-475d-ac66-6c045a7ccaeb">
						<when expression="#[vars.vCurrentFileDateDifference &gt; 1]">
							<os:remove doc:name="Remove Old File" doc:id="51142c80-65cf-417d-a025-49b049142094" key="#[payload]" objectStore="Object_Store_PAPVNTL1" />
						</when>
					</choice>
					</foreach>
				</otherwise>
			</choice>
		</foreach>
		<ee:transform doc:name="Set Response" doc:id="d5cc8092-0782-47f6-b84f-31ce74b8c77d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  statusCode: 200,
  statusMessage: "Processing of File is completed",
  correlationID: vars.TransactionID
}	]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<json-logger:logger doc:name="Log - End Event" doc:id="d752bd70-c369-4385-ab15-e6ac5c644b44" config-ref="JSON_Logger_Config" message="API START: END - Completed API request." tracePoint="END">
			<json-logger:content ><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "Scheduler",
   "target": "SAPI",
   "fileName":  "" ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": "PAPVN-TL1",
   "apiName": "sgst-orders-edi-papi",
   "action": "Scheduler END",
   "status": "END"
}]]]></json-logger:content>
		</json-logger:logger>
	</flow>
	<flow name="sgst-orders-edi-papi-inbound-PAPVN-TL1-send-file-flow" doc:id="450bfb66-bf99-4284-a2d1-77cc1f2c9a22" >
		<ee:transform doc:name="Set File Name" doc:id="cfb9ea4e-4223-417d-915f-4f5d0343be0c">
				<ee:message>
				</ee:message>
			<ee:variables>
				<ee:set-variable variableName="vOutputFileName"><![CDATA[%dw 2.0
output application/java
---
"Z11_" ++ vars.vExternalSystem ++"_"++ vars.vDataInterface ++ now() as String {format: "ddMMyyyyHHmm"} ++ ".txt"]]></ee:set-variable>
			</ee:variables>
			
</ee:transform>
		<foreach doc:name="For Each" doc:id="abacf372-9011-4698-9580-fb18e63cf87f">
			<ee:transform doc:name="Delete Files" doc:id="47a75d6a-4d4d-41ed-9a81-5160f99e8a78">
				<ee:message>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="vDeleteSplitFiles"><![CDATA[%dw 2.0
output application/java
---
vars.vDeleteSplitFiles default [] ++ [payload]]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<os:retrieve doc:name="Get File from OS" doc:id="9e3cb052-7bae-412a-91b9-0b62b9304f11" key="#[payload]" objectStore="Object_Store_PAPVNTL1" />
			<json-logger:logger doc:name="Log - Initiate File Publish" doc:id="c8273733-2fb4-440e-b32f-ca43c095d1ee" config-ref="JSON_Logger_Config" message="Initiate CALL to SFTP to store the File ">
						<json-logger:content><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "Scheduler",
   "target": vars.vExternalSystem default "",
   "fileName":  vars.vOutputFileName ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": "PAPVN-TL1",
   "apiName": "sgst-orders-edi-papi",
   "action": "CALL SFTP",
   "status": "START"
}]]]></json-logger:content>
					</json-logger:logger>
			<sftp:write doc:name="Write Output File" doc:id="6bf197c0-c211-40cf-9079-d12bf8f45516" config-ref="SFTP_Config_Common_Storage" path='#["/inbound/papvn-tl1/output/" ++ vars.vOutputFileName]' mode="APPEND">
			</sftp:write>
			<json-logger:logger doc:name="Log - File Publish Status" doc:id="1c309464-aa0d-4b78-be87-70929c8cb676" config-ref="JSON_Logger_Config" message="File Processed to SFTP successfully">
						<json-logger:content><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "Scheduler",
   "target": vars.vExternalSystem default "",
   "fileName":  vars.vOutputFileName ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": "PAPVN-TL1",
   "apiName": "sgst-orders-edi-papi",
   "action": "CALL SFTP",
   "status": "SUCCESS"
}]]]></json-logger:content>
					</json-logger:logger>
<!-- [STUDIO:"Write File"]								<file:write doc:name="Write File" doc:id="d9fbe33d-027d-4223-a594-f23c53c044dc" config-ref="File_Config" path="C:\Panasonic\TestData\Output\output.txt" mode="APPEND"/> [STUDIO] -->
		</foreach>
		<ee:transform doc:name="Set Resource Path" doc:id="d442d947-d6ad-440f-9694-e792b1b7dadd">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="resourcePath"><![CDATA[%dw 2.0
output application/java
---
if ( vars.vExternalSystem == "EPRO" and vars.vDataInterface == "POResponse" ) "/po-response"
else 
	if ( vars.vExternalSystem == "EPRO" and vars.vDataInterface == "EDIResults" ) "/edi-results"
else
	if ( vars.vExternalSystem == "SalesEDI" ) "/sales-orders"
else
	if ( vars.vExternalSystem == "CMS" ) "/ar-statements"
else
	"InvalidExternalSystem"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Call SAP Flow" doc:id="6ddaef86-44ec-42fc-9abb-10cab3e47097" name="sgst-orders-edi-papi-inbound-common-sap-impl-sub-flow"/>
		<foreach doc:name="For Each" doc:id="67a53ed8-799a-46be-9c09-02751fe9432d" collection="#[vars.vDeleteSplitFiles]">
								<os:remove doc:name="Remove Split File from ObjectStore" doc:id="dfda311e-55e0-407f-b339-1e49b07d9870" key="#[payload]" objectStore="Object_Store_PAPVNTL1" />
							</foreach>
	</flow>
	
	<flow name="sgst-orders-edi-papi-inbound-PAPVN-TL2-mq-consumer-impl-flow" doc:id="a3ba68ab-f26c-4230-8409-f549904cd81a" >
<!-- [STUDIO:"On New Message"]		<ibm-mq:listener doc:name="On New Message" doc:id="2e4c458f-f5ab-4ea6-a46b-f65e6843ca08" config-ref="IBM_MQ_Config-TL2-test" destination="GW4.DS352.DAT.SND">
			<ibm-mq:reply-to-response >
				<ibm-mq:body ><![CDATA[#[%dw 2.0

import * from dw::core::Binaries
output application/java
&#45;&#45;-
fromBase64(toBase64(payload))]]]></ibm-mq:body>
			</ibm-mq:reply-to-response>
		</ibm-mq:listener> [STUDIO] -->
		<scheduler doc:name="Scheduler" doc:id="39814c3e-1a12-40f0-ba3d-21569bbccd63" >
			<scheduling-strategy >
				<fixed-frequency startDelay="2" timeUnit="HOURS"/>
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Set TransactionId" doc:id="ba009250-e09b-4872-8aee-63670fd3710e">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="TransactionID"><![CDATA[%dw 2.0
output application/java
---
uuid()]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<json-logger:logger doc:name="Log - Start Event" doc:id="01e25385-c883-4c80-b8a9-fce336fd694c" config-ref="JSON_Logger_Config" message="API START: INIT - Received Message.">
			<json-logger:content ><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "IBM MQ CONSUMER",
   "target": "",
   "fileName":  "" ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": "PAPVN-TL2",
   "apiName": "sgst-orders-edi-papi",
   "action": "CONSUMER START",
   "status": "INIT"
}]]]></json-logger:content>
		</json-logger:logger>
		<flow-ref doc:name="Prepare File Name Info" doc:id="671dbc62-bf5e-44fb-a55e-0bd3551ddfe6" name="sgst-orders-edi-papi-inbound-common-mq-consumer-impl-flow"/>
		<ee:transform doc:name="Prepare FileName" doc:id="213bd8b7-b472-472a-af51-b79ff5cc9372" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="vFileName" ><![CDATA[%dw 2.0
output application/java
---
"Z12_" ++ vars.vDataInterface ++"_"++ vars.vTransHeaderInfo.MessageSequence ++"_"++ vars.vTransHeaderInfo.TotalMessageSplits ++ "_" ++ now() as String {format: "ddMMyyyyHHmm"}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<json-logger:logger doc:name="Log - Initiate OS" doc:id="5e025716-5c21-49e4-80a2-7e8b8b6d434d" config-ref="JSON_Logger_Config" message="Initiate Objectstore to store the File">
			<json-logger:content ><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "IBM MQ CONSUMER",
   "target": "",
   "fileName":  "" ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": "PAPVN-TL2",
   "apiName": "sgst-orders-edi-papi",
   "action": "CALL ObjectStoreV2",
   "status": "INIT"
}]]]></json-logger:content>
		</json-logger:logger>
		<os:store doc:name="Store Split File" doc:id="689e8fce-568f-4f6f-839f-259589b2386b" key="#[vars.vFileName]" objectStore="Object_Store_PAPVNTL2"/>
		<json-logger:logger doc:name="Log - OS Status" doc:id="e01b16a1-0c2a-42d6-b10b-306378dbbad0" config-ref="JSON_Logger_Config" message="File Processed to Objectstore successfully" tracePoint="END">
			<json-logger:content ><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "IBM MQ CONSUMER",
   "target": "",
   "fileName":  "" ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": "PAPVN-TL2",
   "apiName": "sgst-orders-edi-papi",
   "action": "CALL ObjectStoreV2",
   "status": "SUCCESS"
}]]]></json-logger:content>
		</json-logger:logger>
	</flow>
	<flow name="sgst-orders-edi-papi-inbound-PAPVN-TL2-scheduler-impl-flow" doc:id="5736cd81-6dde-42cf-8999-ed93e10e14bb" >
		<scheduler doc:name="sgst-orders-edi-papi-sap-inbound-papvntl2-scheduler" doc:id="df6b7609-d341-4a8f-a162-7786e809b3d9" >
			<scheduling-strategy >
				<cron expression="0 0 0/1 ? * * *" />
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Set TransactionId" doc:id="063573d1-b4c3-47a3-a10f-a191865a9086" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="TransactionID" ><![CDATA[%dw 2.0
output application/java
---
uuid()]]></ee:set-variable>
				<ee:set-variable variableName="vSubsidiary" ><![CDATA[%dw 2.0
output application/java
---
"PAPVN-TL2"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<json-logger:logger doc:name="Log - Start Event" doc:id="d698a8e4-b055-48d0-b89c-171d9bd0d1da" config-ref="JSON_Logger_Config" message="API:INIT Scheduler Started for PAPVN-TL2">
			<json-logger:content ><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "Scheduler",
   "target": "SAPI",
   "fileName":  "" ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": "PAPVN-TL2",
   "apiName": "sgst-orders-edi-papi",
   "action": "Scheduler START",
   "status": "INIT"
}]]]></json-logger:content>
		</json-logger:logger>
		<os:retrieve-all-keys doc:name="Retrieve all keys" doc:id="e4701169-4525-4f18-b39c-af82691e1c01" objectStore="Object_Store_PAPVNTL2"/>
		<ee:transform doc:name="Save Files" doc:id="7a607250-71ea-40f5-9a76-58cc7fa88731" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="vAllFiles" ><![CDATA[%dw 2.0
output application/json

---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
<ee:transform doc:name="File Types" doc:id="e7b8cdcf-29f9-48fb-87e1-665538e37670" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="vFileTypes" ><![CDATA[%dw 2.0
output application/json
---
((payload map ($ splitBy  "_")) map ($[1] ++ "_" ++ $[2]++"_" ++ $[3])) distinctBy $ default []]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="52ab57ba-96c4-4e0d-aad9-44ce8434406c" collection="#[vars.vFileTypes]">
			
			<flow-ref doc:name="Identify Files" doc:id="5ea51087-8208-45f6-b496-3933d7ed1de7" name="sgst-orders-edi-papi-inbound-common-filter-files-impl-sub-fow"/>
			<ee:transform doc:name="Set Processing Flag" doc:id="cf8a54bc-060b-44f4-9aed-9ae02daf5755" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="vProcessingFlag" ><![CDATA[%dw 2.0
output application/java
---
(sizeOf(payload) == (payload[0] splitBy "_")[5] as Number) default false]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<choice doc:name="Choice" doc:id="137ccdd8-76b0-4a5e-a11d-182ec626d2e0" >
				<when expression="#[vars.vProcessingFlag]">
					<flow-ref doc:name="sgst-orders-edi-papi-inbound-common-flow" doc:id="e22c5b3e-a9d3-4a48-9b10-a28098052333" name="sgst-orders-edi-papi-inbound-PAPVN-TL2-send-file-flow" />
				</when>
				<otherwise >
					<foreach doc:name="For Each" doc:id="a14a43de-abdd-4c9a-b92c-f85db06ee3a8" >
						<ee:transform doc:name="Calculate Date" doc:id="530d0ac8-f5d7-4b71-934d-481add4096f8">
						<ee:message>
						</ee:message>
						<ee:variables>
							<ee:set-variable variableName="vCurrentFileDateDifference"><![CDATA[%dw 2.0
output application/java
var currentDate = now() as Date {format : "dd-MM-yyyy"}
var fileDate = ((payload splitBy "_")[-1]) as Date {format: 'ddMMyyyyHHmm'} as String {format: 'dd-MM-yyyy'} as Date {format: 'dd-MM-yyyy'}
---
daysBetween(fileDate,currentDate)]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
						<choice doc:name="Choice" doc:id="14b3d194-e319-471e-88bf-1df90fc74374" >
							<when expression="#[vars.vCurrentFileDateDifference &gt; 1]">
								<os:remove doc:name="Remove Old File" doc:id="121afcbd-ff7f-4490-af4a-fc15721da26c" key="#[payload]" objectStore="Object_Store_PAPVNTL2"/>
							</when>
						</choice>
					</foreach>
				
</otherwise>
			</choice>
		</foreach>
		<ee:transform doc:name="Set Response" doc:id="6c205f4f-8482-4c0b-b587-25f955ab6ea0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  statusCode: 200,
  statusMessage: "Processing of File is completed",
  correlationID: vars.TransactionID
}	]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<json-logger:logger doc:name="Log - End Event" doc:id="34ff0787-964b-4657-aa67-37434be7de63" config-ref="JSON_Logger_Config" message="API START: END - Completed API request." tracePoint="END">
			<json-logger:content ><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "Scheduler",
   "target": "SAPI",
   "fileName":  "" ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": "PAPVNTL-1",
   "apiName": "sgst-orders-edi-papi",
   "action": "Scheduler END",
   "status": "END"
}]]]></json-logger:content>
		</json-logger:logger>
	</flow>
	<flow name="sgst-orders-edi-papi-inbound-PAPVN-TL2-send-file-flow" doc:id="2d292463-dfb9-49f1-9760-5fc01bbccc45" >
		<ee:transform doc:name="Set File Name" doc:id="a2806bed-da7f-4683-8a0d-28beef19c023">
				<ee:message>
				</ee:message>
			<ee:variables>
				<ee:set-variable variableName="vOutputFileName"><![CDATA[%dw 2.0
output application/java
---
"Z12_" ++ vars.vExternalSystem ++"_"++ vars.vDataInterface ++ now() as String {format: "ddMMyyyyHHmm"} ++ ".txt"]]></ee:set-variable>
			</ee:variables>
			
</ee:transform>
		<foreach doc:name="For Each" doc:id="b40fb742-3e67-4ca2-91e4-1b0c6093e89c">
			<ee:transform doc:name="Delete Files" doc:id="25ed645b-47cc-41e4-9d79-a42108a36e0d">
				<ee:message>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="vDeleteSplitFiles"><![CDATA[%dw 2.0
output application/java
---
vars.vDeleteSplitFiles default [] ++ [payload]]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<os:retrieve doc:name="Get File from OS" doc:id="38f7afd5-e71b-4a91-87ec-08418a6a1274" key="#[payload]" objectStore="Object_Store_PAPVNTL2" />
			<json-logger:logger doc:name="Log - Initiate File Publish" doc:id="e523cdad-688b-4544-80d5-1bc996f8a26a" config-ref="JSON_Logger_Config" message="Initiate CALL to SFTP to store the File ">
						<json-logger:content><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "Scheduler",
   "target": vars.vExternalSystem default "",
   "fileName":  vars.vOutputFileName ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": "PAPVNTL-2",
   "apiName": "sgst-orders-edi-papi",
   "action": "CALL SFTP",
   "status": "START"
}]]]></json-logger:content>
					</json-logger:logger>
			<sftp:write doc:name="Write Output File" doc:id="39774b22-7a1c-46c6-b951-279ec4da6c1d" config-ref="SFTP_Config_Common_Storage" path='#["/inbound/papvn-tl2/output/" ++ vars.vOutputFileName]' mode="APPEND">
			</sftp:write>
			<json-logger:logger doc:name="Log - File Publish Status" doc:id="1412f96b-da3e-4749-ad18-ddde16345b40" config-ref="JSON_Logger_Config" message="File Processed to SFTP successfully">
						<json-logger:content><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "Scheduler",
   "target": vars.vExternalSystem default "",
   "fileName":  vars.vOutputFileName ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": "PAPVNTL-2",
   "apiName": "sgst-orders-edi-papi",
   "action": "CALL SFTP",
   "status": "SUCCESS"
}]]]></json-logger:content>
					</json-logger:logger>
<!-- [STUDIO:"Write File"]								<file:write doc:name="Write File" doc:id="efdeed03-633f-4cff-a930-d3bf5aa4088b" config-ref="File_Config" path="C:\Panasonic\TestData\Output\output.txt" mode="APPEND"/> [STUDIO] -->
		</foreach>
		<ee:transform doc:name="Set Resource Path" doc:id="3a2cfcfb-1bed-44a0-876b-5df057f1f63b">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="resourcePath"><![CDATA[%dw 2.0
output application/java
---
if ( vars.vExternalSystem == "EPRO" and vars.vDataInterface == "POResponse" ) "/po-response"
else 
	if ( vars.vExternalSystem == "EPRO" and vars.vDataInterface == "EDIResults" ) "/edi-results"
else
	if ( vars.vExternalSystem == "SalesEDI" ) "/sales-orders"
else
	"InvalidExternalSystem"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Call SAP Flow" doc:id="ebeb98fd-1fa8-456f-aadd-851568500334" name="sgst-orders-edi-papi-inbound-common-sap-impl-sub-flow"/>
		<foreach doc:name="For Each" doc:id="f2140455-5735-4c9f-87f2-b91e7ed7fb91" collection="#[vars.vDeleteSplitFiles]">
								<os:remove doc:name="Remove Split File from ObjectStore" doc:id="94fdcf32-9f27-4554-88e7-0b71d8a63c88" key="#[payload]" objectStore="Object_Store_PAPVNTL2" />
							</foreach>
	</flow>
	
	<sub-flow name="sgst-orders-edi-papi-inbound-common-sap-impl-sub-flow" doc:id="f716b658-2ebf-4b25-8b94-1b85957fd312" >
		<ee:transform doc:name="Prepare Request" doc:id="37282acb-ea6f-4ad1-88d0-aac2bbf4da2f">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output multipart/form-data
---
{
	parts: {
		EDIMsgHeader: {
			headers: {
				"Content-Type": "application/json"
			},
			content: {
				"subsidiary": vars.vSubsidiary,
				"flatFileName": vars.vOutputFileName,
				"flatFileFormat": "FIXED_WIDTH",
				"externalSystem": vars.vExternalSystem,
				"flatFileExtension": ".zip"
			}
		}
	}
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
		<json-logger:logger doc:name="Log Before SAPI Request" doc:id="b14927bd-13f4-4f64-9f25-fa168bc6d060" config-ref="JSON_Logger_Config" message="Initiate call to SAPI">
			<json-logger:content ><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "Scheduler",
   "target": vars.vExternalSystem default "",
   "fileName":  vars.vOutputFileName ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": vars.vSubsidiary,
   "apiName": "sgst-orders-edi-papi",
   "action": "CALL SAPI",
   "status": "START"
}]]]></json-logger:content>
		</json-logger:logger>
		<choice doc:name="Choice" doc:id="f705e179-836f-4adf-abb0-2ce1bda6571e" >
			<when expression='#[vars.resourcePath != "InvalidExternalSystem"]'>
				<try doc:name="Try" doc:id="5e3c3165-e97e-4714-8f6e-ff393fb72a8c" >
					<until-successful maxRetries="1" doc:name="Until Successful" doc:id="1d51f239-ee20-4854-a5df-40f462510277">
			<http:request method="POST" doc:name="SAP POST Request" doc:id="66763f02-950e-4066-89a9-afdd8d3ffc2b" config-ref="HTTP_EDIFILE_SAP_Request_Configuration" path="#[vars.resourcePath]" outputMimeType="multipart/form-data">
							<http:headers><![CDATA[#[output application/java
---
{
	"correlationID" : vars.TransactionID,
	"X-Client-ID" : "${http.edifile.sapi.client_id}",
	"X-Client-Secret": "${http.edifile.sapi.client_secret}"
}]]]></http:headers>
			</http:request>
		</until-successful>
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="cff13470-c2b7-40c7-a535-3e601047eff2" >
<!-- [STUDIO:"Read Output File"]							<sftp:read doc:name="Read Output File" doc:id="7b38a546-743e-4ef3-99fe-c63377b6a296" config-ref="SFTP_Config_Common_Storage" path='#["/inbound/papvn-tl2/output/" ++ vars.vOutputFileName]'/> [STUDIO] -->
							<compression:compress doc:name="Compress" doc:id="588ec69d-b052-49f0-99ce-9fad95133370" >
								<compression:compressor >
									<compression:zip-compressor />
								</compression:compressor>
							</compression:compress>
							<logger level="INFO" doc:name="Send an Email with ZIP file" doc:id="ce601a62-da2c-4131-820f-0775039491bc" />
						</on-error-continue>
					</error-handler>
				</try>
			</when>
			<otherwise >
				<ee:transform doc:name="Set Error Response" doc:id="bc8972fb-17fb-4504-910e-236aa32870fd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	errorCode: 500,
	errorMessage: "The provided external system: " ++ vars.vExternalSystem ++ " is invalid for " ++ vars.vDataInterface,
	errorType: 'DATA ERROR',
	correlationID: vars.TransactionID,
	timestamp: now()
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<json-logger:logger doc:name="Log After SAPI Request" doc:id="9ecad87d-ec5a-4f9a-81d6-f14215bb1ec7" config-ref="JSON_Logger_Config" message="File published successfully to SAP">
			<json-logger:content ><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "Scheduler",
   "target": vars.vExternalSystem default "",
   "fileName":  vars.vOutputFileName ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": vars.vSubsidiary,
   "apiName": "sgst-orders-edi-papi",
   "action": "CALL SAPI",
   "status": "SUCCESS"
}]]]></json-logger:content>
		</json-logger:logger>
	</sub-flow>
	
	<flow name="sgst-orders-edi-papi-inbound-PMPC-mq-consumer-impl-flow" doc:id="7d5398df-389e-48c0-9b74-3ae3153222e0" >
		<scheduler doc:name="Scheduler" doc:id="6b0c5b84-932b-4ae0-b573-4fb3a00014b7" >
			<scheduling-strategy >
				<fixed-frequency startDelay="3" timeUnit="HOURS"/>
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Set TransactionId" doc:id="b4ca7070-4a6b-412e-a88a-ddf9547e0345">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="TransactionID"><![CDATA[%dw 2.0
output application/java
---
uuid()]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<json-logger:logger doc:name="Log - Start Event" doc:id="827f2abc-2dd9-449c-a91a-9977a47c8bce" config-ref="JSON_Logger_Config" message="API START: INIT - Received Message.">
			<json-logger:content ><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "IBM MQ CONSUMER",
   "target": "",
   "fileName":  "" ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": "PMPC",
   "apiName": "sgst-orders-edi-papi",
   "action": "CONSUMER START",
   "status": "INIT"
}]]]></json-logger:content>
		</json-logger:logger>
		<flow-ref doc:name="Prepare Files Info" doc:id="4515cd47-77fd-4c33-a375-9450062e413c" name="sgst-orders-edi-papi-inbound-common-mq-consumer-impl-flow"/>
		<ee:transform doc:name="Prepare FileName" doc:id="7b1ac01b-1575-49d3-acf6-30cb93203708" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="vFileName" ><![CDATA[%dw 2.0
output application/java
---
"PMPC_" ++ vars.vDataInterface ++"_"++ vars.vTransHeaderInfo.MessageSequence ++"_"++ vars.vTransHeaderInfo.TotalMessageSplits ++ "_" ++ now() as String {format: "ddMMyyyyHHmm"}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<json-logger:logger doc:name="Log - Initiate OS" doc:id="d776e0d8-b389-4c84-b2c3-918ff2c170c2" config-ref="JSON_Logger_Config" message="Initiate Objectstore to store the File">
			<json-logger:content ><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "IBM MQ CONSUMER",
   "target": "",
   "fileName":  "" ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": "PMPC",
   "apiName": "sgst-orders-edi-papi",
   "action": "CALL ObjectStoreV2",
   "status": "INIT"
}]]]></json-logger:content>
		</json-logger:logger>
		<os:store doc:name="Store Split File" doc:id="168e9cc6-b443-4ead-acc2-406a357d08ef" key="#[vars.vFileName]" objectStore="Object_Store_PMPC"/>
		<json-logger:logger doc:name="Log - OS Status" doc:id="d517b35f-a0d2-41cc-8c28-d717c41b4318" config-ref="JSON_Logger_Config" message="File Processed to Objectstore successfully" tracePoint="END">
			<json-logger:content ><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "IBM MQ CONSUMER",
   "target": "",
   "fileName":  "" ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": "PMPC",
   "apiName": "sgst-orders-edi-papi",
   "action": "CALL ObjectStoreV2",
   "status": "SUCCESS"
}]]]></json-logger:content>
		</json-logger:logger>
	</flow>
	<flow name="sgst-orders-edi-papi-inbound-PMPC-scheduler-impl-flow" doc:id="e6dd2006-48ca-458f-a142-49ff95517538" >
		<scheduler doc:name="sgst-orders-edi-papi-sap-inbound-pmpc-scheduler" doc:id="3139f025-9e8c-46ab-8047-d96b96b7bcd6" >
			<scheduling-strategy >
				<cron expression="0 0 0/1 ? * * *" />
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Set TransactionId" doc:id="46d46196-a354-4ec9-a682-f311afa2da97" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="TransactionID" ><![CDATA[%dw 2.0
output application/java
---
uuid()]]></ee:set-variable>
				<ee:set-variable variableName="vSubsidiary" ><![CDATA[%dw 2.0
output application/java
---
"PMPC"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<json-logger:logger doc:name="Log - Start Event" doc:id="c338993d-6af8-471a-bcc6-c5a933450de3" config-ref="JSON_Logger_Config" message="API:INIT Scheduler Started for PMPC">
			<json-logger:content ><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "Scheduler",
   "target": "SAPI",
   "fileName":  "" ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": "PMPC",
   "apiName": "sgst-orders-edi-papi",
   "action": "Scheduler START",
   "status": "INIT"
}]]]></json-logger:content>
		</json-logger:logger>
		<os:retrieve-all-keys doc:name="Retrieve all keys" doc:id="cb70f46c-0155-4305-a530-6de12ea1b2fd" objectStore="Object_Store_PMPC"/>
		<ee:transform doc:name="Save Files" doc:id="68addc6b-b5d1-4814-b28b-cca98f9e44e9" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="vAllFiles" ><![CDATA[%dw 2.0
output application/json

---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
<ee:transform doc:name="File Types" doc:id="02e99703-6a12-4816-bf9e-71f35e7c9570" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="vFileTypes" ><![CDATA[%dw 2.0
output application/json
---
((payload map ($ splitBy  "_")) map ($[1] ++ "_" ++ $[2]++"_" ++ $[3])) distinctBy $ default []]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="d386573f-251d-4b33-9152-ed922716a3a7" collection="#[vars.vFileTypes]">
			<flow-ref doc:name="Identify Files" doc:id="2568b64e-8151-4ce2-ac93-97bb0e06fcbd" name="sgst-orders-edi-papi-inbound-common-filter-files-impl-sub-fow"/>
			<ee:transform doc:name="Set Processing Flag" doc:id="02cbdbdf-869a-4395-a46a-fc239772fb28" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="vProcessingFlag" ><![CDATA[%dw 2.0
output application/java
---
(sizeOf(payload) == (payload[0] splitBy "_")[5] as Number) default false]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<choice doc:name="Choice" doc:id="a48716fa-334b-4f94-bb2d-b562ac2de616" >
				<when expression="#[vars.vProcessingFlag]">
					<flow-ref doc:name="sgst-orders-edi-papi-inbound-common-flow" doc:id="7c0f1457-0eb7-46ed-89fc-82c55ee82fdc" name="sgst-orders-edi-papi-inbound-PMPC-send-file-flow" />
				</when>
				<otherwise >
					<json-logger:logger doc:name="Files Status" doc:id="31528f70-3e3f-4a2b-bdb5-bd8c94d6383c" config-ref="JSON_Logger_Config" message="No Valid files to Process">
						<json-logger:content ><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "Scheduler",
   "target": "SAPI",
   "fileName":  "" ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": "PMPC",
   "apiName": "sgst-orders-edi-papi",
   "action": "Scheduler END",
   "status": "END"
}]]]></json-logger:content>
					</json-logger:logger>
					<foreach doc:name="For Each" doc:id="a7652488-90bc-4bf6-a90b-b8787cfd454a" >
						<ee:transform doc:name="Calculate Date Difference" doc:id="7d22584b-8199-46c0-9738-90669a888264">
						<ee:message>
						</ee:message>
							<ee:variables >
								<ee:set-variable variableName="vCurrentFileDateDifference" ><![CDATA[%dw 2.0
output application/java
var currentDate = now() as Date {format : "dd-MM-yyyy"}
var fileDate = ((payload splitBy "_")[-1]) as Date {format: 'ddMMyyyyHHmm'} as String {format: 'dd-MM-yyyy'} as Date {format: 'dd-MM-yyyy'}
---
daysBetween(fileDate,currentDate)]]></ee:set-variable>
							</ee:variables>
					</ee:transform>
						<choice doc:name="Choice" doc:id="e20943fa-edf5-43f1-b839-ff3ee599236e">
						<when expression="#[vars.vCurrentFileDateDifference &gt; 1]">
							<os:remove doc:name="Remove Old File" doc:id="f00dd761-d6fe-4cba-a98c-0ee03e422051" key="#[payload]" objectStore="Object_Store_PMPC"/>
						</when>
					</choice>
					</foreach>
				
</otherwise>
			</choice>
		</foreach>
		<ee:transform doc:name="Set Response" doc:id="19885dc5-f3fc-44b3-91a5-0695c6f4d755" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  statusCode: 200,
  statusMessage: "Processing of File is completed",
  correlationID: vars.TransactionID
}	]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<json-logger:logger doc:name="Log - End Event" doc:id="c10dfcd4-177d-43e2-8c4e-1dd7b5788655" config-ref="JSON_Logger_Config" message="API START: END - Completed API request." tracePoint="END">
			<json-logger:content ><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "Scheduler",
   "target": "SAPI",
   "fileName":  "" ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": "PAPVNTL-1",
   "apiName": "sgst-orders-edi-papi",
   "action": "Scheduler END",
   "status": "END"
}]]]></json-logger:content>
		</json-logger:logger>
	</flow>
	<flow name="sgst-orders-edi-papi-inbound-PMPC-send-file-flow" doc:id="9852327e-47cf-45ea-b066-18f0d631b7af" >
		<ee:transform doc:name="Set File Name" doc:id="09d48f2d-d00b-46b0-8e6e-2c6ea74f0b1a">
				<ee:message>
				</ee:message>
			<ee:variables>
				<ee:set-variable variableName="vOutputFileName"><![CDATA[%dw 2.0
output application/java
---
"PMPC" ++ vars.vExternalSystem ++"_"++ vars.vDataInterface ++ now() as String {format: "ddMMyyyyHHmm"} ++ ".txt"]]></ee:set-variable>
			</ee:variables>
			
</ee:transform>
		<foreach doc:name="For Each" doc:id="5049770e-72c0-448f-aee2-b0ee19a768b0">
			<ee:transform doc:name="Delete Files" doc:id="17e1e8f8-36bc-401e-b28d-eaa6dbb7f56d">
				<ee:message>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="vDeleteSplitFiles"><![CDATA[%dw 2.0
output application/java
---
vars.vDeleteSplitFiles default [] ++ [payload]]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<os:retrieve doc:name="Get File from OS" doc:id="53877f55-d063-46e9-a2bb-09ecd8689399" key="#[payload]" objectStore="Object_Store_PMPC" />
			<json-logger:logger doc:name="Log - Initiate File Publish" doc:id="b32f3a48-13b7-45f8-b012-629fa22c764e" config-ref="JSON_Logger_Config" message="Initiate CALL to SFTP to store the File ">
						<json-logger:content><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "Scheduler",
   "target": vars.vExternalSystem default "",
   "fileName":  vars.vOutputFileName ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": "PMPC",
   "apiName": "sgst-orders-edi-papi",
   "action": "CALL SFTP",
   "status": "START"
}]]]></json-logger:content>
					</json-logger:logger>
			<sftp:write doc:name="Write Output File" doc:id="3b3fb267-4159-41a7-9076-5d056ab966f8" config-ref="SFTP_Config_Common_Storage" path='#["/inbound/pmpc/output/" ++ vars.vOutputFileName]' mode="APPEND">
			</sftp:write>
			<json-logger:logger doc:name="Log - File Publish Status" doc:id="036db6b4-18f8-4994-8df8-d956cb583f4a" config-ref="JSON_Logger_Config" message="File Processed to SFTP successfully">
						<json-logger:content><![CDATA[#[%dw 2.0
output application/json
---
{
   "flowDirection": "INBOUND",
   "source": "Scheduler",
   "target": vars.vExternalSystem default "",
   "fileName":  vars.vOutputFileName ,
   "errorCode": "",
   "errorMessage": "",
   "subsidiary": "PMPC",
   "apiName": "sgst-orders-edi-papi",
   "action": "CALL SFTP",
   "status": "SUCCESS"
}]]]></json-logger:content>
					</json-logger:logger>
<!-- [STUDIO:"Write File"]								<file:write doc:name="Write File" doc:id="363c0ecb-0b91-459a-b3c0-c6f95bddcbe3" config-ref="File_Config" path="C:\Panasonic\TestData\Output\output.txt" mode="APPEND"/> [STUDIO] -->
		</foreach>
		<ee:transform doc:name="Set Resource Path" doc:id="5512d313-4b3b-4d9a-8b71-a75dcba697d8">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="resourcePath"><![CDATA[%dw 2.0
output application/java
---
if ( vars.vExternalSystem == "EPRO" and vars.vDataInterface == "POResponse" ) "/po-response"
else 
	if ( vars.vExternalSystem == "EPRO" and vars.vDataInterface == "EDIResults" ) "/edi-results"
else
	if ( vars.vExternalSystem == "SalesEDI" ) "/sales-orders"
else
	if ( vars.vExternalSystem == "CMS" ) "/ar-statements"
else
	"InvalidExternalSystem"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Call SAP Flow" doc:id="cee28e05-9b73-406b-9ca4-fe5b258445b4" name="sgst-orders-edi-papi-inbound-common-sap-impl-sub-flow"/>
		<foreach doc:name="For Each" doc:id="10f4b337-840b-4513-85a1-b4709d6292ed" collection="vars.vDeleteSplitFiles">
			<os:remove doc:name="Remove Split Files from OS" doc:id="6832cdf3-d10d-468b-9122-eea210c09f76" key="#[payload]" objectStore="Object_Store_PMPC"/>
		</foreach>
	</flow>
	
</mule>
