src/main/mule/sgst-orders-edi-papi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="sgst-orders-edi-papi-main">
        <http:listener config-ref="sgst-pp-edi-eapi-httpListenerConfig" path="${http.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="Set TransactionId" doc:id="4981b810-e1a5-4e36-9e43-552a3b32bfde">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="TransactionID"><![CDATA[%dw 2.0
output application/java
---
uuid()]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <apikit:router config-ref="sgst-orders-edi-papi-config" />
        <error-handler ref="common-exception-handler" />
    </flow>
    <flow name="sgst-orders-edi-papi-console">
        <http:listener config-ref="sgst-pp-edi-eapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="sgst-orders-edi-papi-config" />
        <error-handler ref="common-exception-handler" />
    </flow>
    <flow name="post:\ar-statements:multipart\form-data:sgst-orders-edi-papi-config">
        <flow-ref doc:name="sgst-impl-sub-flow" doc:id="9f7a2e83-13bb-4b4c-8cc3-b40f2083da60" name="sgst-impl-sub-flow" />
        <error-handler ref="common-exception-handler" />
    </flow>
    <flow name="post:\fpl:multipart\form-data:sgst-orders-edi-papi-config">
        <flow-ref doc:name="sgst-impl-sub-flow" doc:id="6f6945ce-4ab4-477e-a9f8-856ef17622de" name="sgst-impl-sub-flow" />
        <error-handler ref="common-exception-handler" />
    </flow>
    <flow name="post:\purchase-orders:multipart\form-data:sgst-orders-edi-papi-config">
        <flow-ref doc:name="sgst-impl-sub-flow" doc:id="6fd9bd7e-72f7-4b3b-b8c1-7c14577e84a3" name="sgst-impl-sub-flow" />
        <error-handler ref="common-exception-handler" />
    </flow>
    <flow name="post:\purchase-results:multipart\form-data:sgst-orders-edi-papi-config">
        <flow-ref doc:name="sgst-impl-sub-flow" doc:id="ef038856-4876-4f04-963e-625388786ca4" name="sgst-impl-sub-flow" />
        <error-handler ref="common-exception-handler" />
    </flow>
</mule>
